body {
    background-color: black;
    background-image: url("./bilder/yvette-de-wit-NYrVisodQ2M-unsplash.jpg");
}
h1 {
    color: aqua;
    font-size: 190px;
    font-family: "New Amsterdam", sans-serif;
}
h2 {
    color: blueviolet;
    font-size: 140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    color: chartreuse;
    font-size: 75px;
    font-family: "Sevillana", cursive;
}
a {
    color: blue;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
}
